*{

    box-sizing: border-box;
    margin: 0;
}
body, html {
    height: 100%;
    margin: 0;
    
    scroll-behavior: smooth;
    
  }
  
  body {
    /* The image used */
    background: url("src/Agri.jpg");
    
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }


.heading
    {
        display: flex;
        border-bottom: 1px solid #ccc; 
        background: hsl(100, 50%, 50%);
        margin: 0.3em em;
        padding-left: 5%;

    }
    blockquote{
        margin-top: 2%;
        margin-left: 5%;
        margin-bottom: 2%;
        font-size: 1.2em;
        font-weight: bolder;
        background: hsl(96, 13%, 92%);
        width: fit-content;
        padding: 2%;
        border: 1px solid darkgrey;
    }
   h2{
       margin-bottom: 2%;
       background-color: #fff;
       width: fit-content;
       padding: 2%;
       border: 1px solid darkblue;
   }
input{
    width: 60%;
    height: 40px;
    border-radius: 1000px;
    padding-left: 10px;

}
#foodName{
    font-weight: bolder;
}
input[type='submit']{
    background-color: #000;
    width: 10%;
    height: 40px;
    border-radius: 1000px;
    padding-left: 10px;
    color: #fff;
    font-weight: bolder;
}

.search-food{
    margin-left: 30%;
}
#loader {
    background-color: #fff;
    font-size: 1.3em;
    font-weight: bolder;
    margin-top: 5%;
    padding: 1%;
    width : max-content;
    
  }
  .alert{
      margin-top: 5%;
      margin-left: 5%;
      padding: 1%;
      background-color: #fff;
      color: #ff0000;

      width: max-content;
  }
  
  
.profile{
    
    overflow-x: scroll;
   
}
.food-desc{
    background-color: yellow;
    margin-top: 2em;
    padding-left: 20%;
    padding-top: 1em;
    padding-bottom: 1.5em;
    font-size: 1.2em;
    font-weight: bolder;
}
.food-details{
    margin-top: 2em;
    padding-top: 10px;
    padding-left: 20%;
    padding-bottom: 10px;

    border : 1px solid black;
    background-color: #fff;
    font-weight: bolder;
}

.note{
    color :hsl(250, 50%, 50%)
}
.table{
    background-color: #fff;
    border : 1px solid #000;
    padding: 2% 30%;
    
   

}

th,td{
    padding: 4px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

#first,#next,#previous,#last{
       background-color: #ffff00;
       color: #000;
}
#first:hover,#next:hover,#previous:hover,#last:hover {
    background-color: hsl(0, 100%, 50%);
    color: #fff;
}

.footer{
    margin-top: 10%;

    padding-left: 50%;
    font-weight: bolder;
    font-size: 1.5em;
    border :1px #000 solid;
    
    
}

@media only screen and (max-width: 768px) {
    input[type='submit']{
        background-color: #000;
        width: 30%;
        height: 30px;
        border-radius: 1000px;
        padding-left: 10px;
        color: #fff;
        font-weight: bolder;
    
    
    }
}
